doctype html
html
	head
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-table.min.css')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/jquery-3.3.1.min.js')
	script(src='/javascripts/script.js')
	script(src='/javascripts/bootstrap-table.min.js')
body
	<div class="container">
		<div class="row">
			<div class="col-md-9">
			h2 Normal open order
			<table class="table table-list-search">
				<thead>
					<tr>
						<th>Date</th>
						<th>Pair</th>
						<th>Type</th>
						<th>Price</th>
						<th>Current price</th>
						<th>Stoploss price</th>
						<th>Amount</th>
						<th>Action</th>
					</tr>
				</thead>
				- var time
				tbody
					each item in openOrders
						tr
						- time=new Date(item.time)
						td=time.toLocaleString()
						td=item.symbol
						td=item.side
						td=item.price
						<td class="#{item.symbol}"></td>
						td
							if item.type == 'STOP_LOSS_LIMIT'
								input(type='text' id='updateSl'+item.symbol value=item.stopPrice)
							else
								normal NORMAL_ORDER
						td=item.origQty
						input(type='hidden' id='amountUpdateSl'+item.symbol value=item.origQty)
						<td><button onclick="cancelOrder('#{item.symbol}', '#{item.orderId}')"> Cancel</button>
							<button onclick="updateOrder('#{item.symbol}', '#{item.orderId}')"> Update</button>
						</td>
			</table>

			h2 List coin
			<table data-toggle="table" data-sort-name="amount" data-sort-order="desc">
				<thead>
					<tr>
						<th data-field="pair" data-sortable="true"> Coin</th>
						<th data-field="amount" data-sortable="true">Available</th>
						<th>Amount locked</th>
						<th>Trading</th>
						<th>Amount</th>
						<th>Price buy</th>
						<th>Stoploss</th>
						<th>Action</th>
					</tr>
				</thead>
				tbody
					each item,index in balance
						tr
						td=index
						td=item.available
						td=item.onOrder
						<td>
							<input type="radio" onclick="enableStoploss('#{index}')" name="#{index}tradecb" value="#{index}BTC"> BTC
							<input type="radio" onclick="enableStoploss('#{index}')" name="#{index}tradecb" value="#{index}ETH"> ETH
						</td>
						td
							input(type='text' name=index+'SlAmount' id=index+'SlAmount' disabled)
						td
							input(type='checkbox' name=index+'manualBuyPrice' id=index+'manualBuyPrice' data-pair=item.buyPrice)
							span Manual buy price
							input(type='text' name=index+'buyPrice' id=index+'buyPrice' disabled value=item.buyPrice)
						td
							input(type='checkbox' name=index+'manualPrice' id=index+'manualPrice' disabled)
							span Manual price
							input(type='text' name=index+'SlPercent' id=index+'SlPercent' disabled)
						td
							<button name="#{index}startAuto" id="#{index}startAuto" onclick="autoTrade('#{index}')")> Autotrade </button>
			</table>
			</div>
		</div>
	</div>